<!DOCTYPE html>
<html lang="en">

<head>
  <meta split_motet="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <title>Jeux du Pendu</title>

</head>

<body>


  <div class="container">
    <div class="rows">

      <h1>Jeu du pendu :</h1>
      <p>Tentez de deviner le mot secret en entrant des lettres une par une au clavier. Ne gaspillez pas vos coups, car
        si trop de vos choix sont erronés vous tuerez le pendu et vous perdrez la partie.

      </p>
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">

          <div class="rows">
            <button class="btn btn-default" value="A">A</button>
            <button class="btn btn-default" value="B">B</button>
            <button class="btn btn-default" value="C">C</button>
            <button class="btn btn-default" value="D">D</button>
            <button class="btn btn-default" value="E">E</button>
            <button class="btn btn-default" value="F">F</button>
            <button class="btn btn-default" value="G">G</button>
            <button class="btn btn-default" value="H">H</button>
            <button class="btn btn-default" value="I">I</button>
            <button class="btn btn-default" value="J">J</button>

            <button class="btn btn-default" value="K">K</button>
            <button class="btn btn-default" value="L">L</button>
            <button class="btn btn-default" value="M">M</button>
            <button class="btn btn-default" value="N">N</button>
            <button class="btn btn-default" value="O">O</button>
            <button class="btn btn-default" value="P">P</button>
            <button class="btn btn-default" value="Q">Q</button>
            <button class="btn btn-default" value="R">R</button>


            <button class="btn btn-default" value="S">S</button>
            <button class="btn btn-default" value="T">T</button>
            <button class="btn btn-default" value="U">U</button>
            <button class="btn btn-default" value="V">V</button>
            <button class="btn btn-default" value="W">W</button>
            <button class="btn btn-default" value="X">X</button>
            <button class="btn btn-default" value="Y">Y</button>
            <button class="btn btn-default" value="Z">Z</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <h6 id="compteur">Compteur perdu:</h6>

      <div class="card text-center" style="width: 18rem;height: 18rem;margin-left: 300px">
        <img src="http://jeudupendu.fr/images/pendus-default.png" class="card-img-top" alt="">


      </div>
    </div>


    <div class="card" style="width: 18rem;margin-left: 300px">
      <div id="mots"></div>

    </div>


  </div>







  <script>
    //compteur perdu
    compteur_erreur = 0;


    //fonction qui remplace la lettre dans le mot
    function putLetter(letter, position) {

      //console.log(position)

      var tab_id_span = $(".underscore");

      //console.log(tab_id_span);

      tab_id_span[position].innerHTML = letter;
    }


    //function crée des _ selon la longeur du mot
    function met_underscore(nombre) {
      var span = Object();
      for (var i = 0; i < nombre; i++) {

        span = document.createElement("SPAN");

        span.id = i;

        span.setAttribute("class", "underscore");


        span.innerHTML = " _ ";

        document.getElementById("mots").appendChild(span);


      }
    }

    $.get("dico.json", function (data) {


      //recup la data du fichier json
      var mots = data.mots

      //Mot aléatoire
      var mot = mots[Math.floor(Math.random() * mots.length)];

      //si le mot à un longeur excute la function
      if (mot.length > 0) {
        met_underscore(mot.length);
      }



      //Ecoute event clic
      const button = document.querySelectorAll('button.btn.btn-default');


      button.forEach(element => {


          element.addEventListener('click', function () {

              const mon_mot = mot;

              //event click choix de la lettre 
              var lettre = element.innerHTML

              //décompose le mot en lettre renvoie sous forme de tab ["M","O","T"]
              const split_mot = mon_mot.split('');


              //boucle sur longeur de la table
              for (var i = 0; i < split_mot.length; i++) {


                //si la lettre click est = à un des lettre du tableu
                if (split_mot[i] == lettre) {

                  //console.log(i)

                  putLetter(lettre, i);


                } else {

                  //a ne pas faire a la maison 
                  if (i + 1 == mot.length) {


                    //détermine si la valeur est dans le tableau
                    var perdu = split_mot.includes(lettre);

                    //si la lettre n'est pas dans le mot le compteur demarre
                  if (perdu == false) {

                    compteur_erreur++
                    document.getElementById("compteur").innerHTML = "Compteur perdu =" + compteur_erreur;


                    console.log("pendu : " + compteur_erreur);
                  }
                }
               
              }



            }

          });

      })



    })
  </script>

</body>

</html>